Server/HELP.md
Server/.gradle
Server/build/
Server/!gradle/wrapper/gradle-wrapper.jar
Server/!**/src/main/**/build/
Server/!**/src/test/**/build/

### STS ###
Server/.apt_generated
Server/.classpath
Server/.factorypath
Server/.project
Server/.settings
Server/.springBeans
Server/.sts4-cache
Server/bin/
Server/!**/src/main/**/bin/
Server/!**/src/test/**/bin/

### IntelliJ IDEA ###
Server/.idea
Server/*.iws
Server/*.iml
Server/*.ipr
Server/out/
Server/!**/src/main/**/out/
Server/!**/src/test/**/out/

### NetBeans ###
Server//nbproject/private/
Server//nbbuild/
Server//dist/
Server//nbdist/
Server//.nb-gradle/

### VS Code ###
Server/.vscode/